html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 253, 230);
}
* {
  box-sizing: border-box;
}
[data-scroll] {
  transition: all 1.2s;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}
[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-100px);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: black;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  display: inline;
}
ul li:nth-child(1) {
  padding-right: 0.2em;
}
ul li:nth-child(2) {
  padding-right: 0.2em;
}
ul li:nth-child(3) {
  padding-right: 0.2em;
}
ul li:nth-child(4) {
  padding-right: 0.2em;
}
ul li a:hover {
  color: rgb(209, 20, 13);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}
.title {
  display: block;
  color: rgb(209, 20, 13);
}
.title1 {
  margin-bottom: 4em;
  margin-top: 5em;
}
.inner1 {
  display: block;
  width: 36em;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.5;
  font-size: 18px;
}

.inner {
  display: block;
  width: 36em;
  max-width: 100%;
  line-height: 1.5;
  font-size: 18px;
}
.extra {
  display: block;
}
.section {
  margin: 1em;
  display: block;
  width: 36em;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.5;
  font-size: 18px;
}
.section1 {
  margin: 1em 1em;
}
.sub {
  font-weight: 100;
}
.extra {
  font-style: italic;
}
.image1 {
  width: 40%;
}
.center {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .container h2 {
    margin: 0;
  }
  ul li {
    margin: 0;
  }
}
